[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/DRIP20"]
	path = lib/DRIP20
	url = https://github.com/0xBeans/DRIP20
[submodule "lib/sstore2"]
	path = lib/sstore2
	url = https://github.com/0xsequence/sstore2
